.caja {
  background-color: rgb(140, 234, 255);
  border: 2px solid rgb(0, 123, 255);
  width: 400px;
  height: 400px;
  padding: 50px;
  text-align: center;
  margin: 20px;
}

p:nth-child(1) {
  display: block;
}

span:nth-child(2) {
  display: inline;
}

span:nth-child(3) {
  display: inline-block;
}

span:nth-child(4) {
  display: none;
}

p:nth-child(5) {
  visibility: hidden;
}